<!DOCTYPE html>
<html>
<head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title> </title>
    <link rel="stylesheet" type="text/css" href="../css/1a.css">
    <link rel="stylesheet" type="text/css" href="../Demo.css">
    <script type="text/javascript" src="../demo.js"></script>
</head>
<body> 
        <div class=buttons>
                <button id=play></button> &nbsp;
                <button id=pause></button> &nbsp;
                <button id=stop></button>
        </div>
    <article>
       <div>
           <h1>DIET FOR TYPE I Diabetes</h1>
       </div>     
       <div> <pre>
            An important aspect of any diabetic diet is consistency. To maintain blood sugar levels:
            •	don’t skip meals
            •	try to eat around the same time each day
            •	pay attention to food labels

            It’s important to include nutritious foods that are high in vitamins and minerals.
            For general health recommendations, choosing healthy fats, proteins,and nutrient-dense 
            carbohydrates is optimal.
            You’ll also need to take exercise into account and determine the carbohydrate need for 
            your activity level.
            Here are some basic recommendations:
            Carbohydrates
            There are three types of carbohydrates: starches, sugars, and fiber.
            It’s important to manage carbohydrate intake if you have type 1 diabetes. Some carbohydrates will act faster on blood sugar than others. If you’re experiencing low blood sugar levels, choosing a fast-acting carb that’ll be easily digested and absorbed into the bloodstream is best.
            Typically, starting with about 15 grams of carbs should be adequate. Then recheck your blood sugar, and have another 15 grams if your reading is still low.
            Examples of fast-acting carbohydrates that have 15 grams of carbs include:
            •	1/4 cup of fruit juice  
            •	1 small fresh fruit (4 ounces)
            •	4 to 6 crackers
            •	2 tablespoons of raisins
            •	1 tablespoon of honey
            Vegetables
            Non-starchy vegetables have a lower impact on your blood sugar and are rich in vitamins, minerals, fiber, and phytochemicals. You can eat up to three cups of these types of veggies per meal without having a major impact on your blood sugar.
            Count more than three cups as about 15 grams of carbs, and anything below that would be considered “free.” These include:
            •	green leafy vegetables
            •	asparagus
            •	beets
            •	carrots
            •	celery
            •	cucumber
            •	onions
            •	peppers
            •	sprouts
            •	tomatoes
            Always choose fresh or frozen vegetables without added salt or sauces.
            Portions of starchy vegetables that have 15 grams of carbs include:
            •	3 ounces of a baked potato
            •	1/2 cup of corn
            •	1/2 cup of sweet potatoes or boiled potatoes
            •	1/2 cup of peas
            •	1/2 cup of winter squash
            Whole grains
            Whole grains are a nutritious and fibrous starch. It’s recommended that at least 50 percent of grains eaten should be whole. Brown rice, bran cereal, and whole-grain breads are great sources.
            Read labels and be mindful of total intake in one sitting to ensure your blood sugar is regulated with your medication.
            Proteins and fats
            Proteins are extremely important in maintaining muscle and repairing wounds, while healthy fats are necessary for optimal brain and heart functioning.
            Proteins are found in beans and eggs as well as meat. Examples of healthy fats include avocado, nuts, and seeds.
            Although proteins and fats won’t directly raise your blood sugar, experts recommend that you limit your intake of processed or fatty meats, which contain higher levels of saturated fat and sodium.
            While these substances have no direct effect on blood sugar, eating too much of them can have harmful health effects, especially heart disease.
            When to eat
            Knowing when to eat is just as important as knowing what to eat.
            Eating smaller meals and progressively snacking throughout the day can make your blood sugar easier to monitor and prevent levels from peaking.
            Your doctor and a registered dietitian or certified diabetes educator can help you calculate your exact insulin needs to support your carbohydrate intake and avoid blood sugar highs and lows.
            Fruits, vegetables, nuts, and other foods travel easily and are great to have on hand when you need them. A healthy breakfast can get your blood sugar back up after a night’s rest.
            Exercise and physical activity lowers blood sugar. If you’re going to do intense exercise, you’ll want to measure your blood sugar before and after you exercise. This will let you know how much you’ll have to eat to maintain a healthy level.
            The ADA has a full listing of common foods and drinks and how they’ll affect your diabetes diet.        

        </pre>
    </article>
        <iframe id="video" width="560" height="315" src="https://www.youtube.com/embed/tEYuyGSzzSo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
       </div>
</body>
</html>