<!DOCTYPE html>
<html>
<head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title> </title>
    <link rel="stylesheet" type="text/css" href="../css/1a.css">
    <link rel="stylesheet" type="text/css" href="../Demo.css">
    <script type="text/javascript" src="../demo.js"></script>
</head>
<body> 
        <div class=buttons>
                <button id=play></button> &nbsp;
                <button id=pause></button> &nbsp;
                <button id=stop></button>
        </div>
        <article>
       <div>
           <h1>DIET FOR TYPE II Diabetes</h1>
       </div>     
       <div> <pre>
            •	Type 2 diabetes involves problems getting enough glucose into the cells. When the sugar can't get where it is supposed to be, it leads to elevated blood sugar levels in the bloodstream, which can lead to complications such as kidney, nerve, and eye damage, and cardiovascular disease.
            •	Foods to eat for a type 2 diabetic diet include complex carbohydrates such as brown rice, whole wheat, quinoa, oatmeal, fruits, vegetables, beans, and lentils. Foods to avoid include simple carbohydrates, which are processed, such as sugar, pasta, white bread, flour, and cookies, pastries.
            •	Foods with a low glycemic load (index) only cause a modest rise in blood sugar and are better choices for people with diabetes. Good glycemic control can help in preventing long-term complications of type 2 diabetes.
            •	Fats don't have much of a direct effect on blood sugar but they can be useful in slowing the absorption of carbohydrates.
            •	Protein provides steady energy with little effect on blood sugar. It keeps blood sugar stable, and can help with sugar cravings and feeling full after eating. Protein-packed foods to eat include beans, legumes, eggs, seafood, dairy, peas, tofu, and lean meats and poultry.
            •	Five diabetes "superfoods" to eat include chia seeds, wild salmon, white balsamic vinegar, cinnamon, and lentils.
            •	Healthy diabetes meal plans include plenty of vegetables, and limited processed sugars and red meat.
            •	Diet recommendations for people with type 2 diabetes include a vegetarian or vegan diet, the American Diabetes Association diet(which also emphasizes exercise), the Paleo Diet, and the Mediterranean diet.
            •	Guidelines on what to eat for people with type 2 diabetes include eating low glycemic load carbohydrates, primarily from vegetables, and consuming fats and proteins mostly from plant sources.
            •	What to not to eat if you have type 2 diabetes: sodas (regular and diet), refined sugars, processed carbohydrates, trans fats, high-fat animal products, high-fat dairy products, high fructose corn syrup, artificial sweeteners, and any highly processed foods.
            Oral Medications for Type 2 Diabetes
            Currently, there are nine drug classes of oral diabetes medications approved for the treatment of type 2 diabetes.
            1.	Sulfonylureas, for example, glimepiride (Amaryl) and glipizide (Glucotrol, Glucotrol XL) Meglitinides, for example, nateglinide (Starlix) and repaglinide (Prandin)
            2.	Thiazolidinediones, for example, pioglitazone (Actos)
            3.	DPP-4 inhibitors, for example, sitagliptin (Januvia) and linagliptin (Tradjenta)
            Read the side effects of type 2 diabetes medications »
            What is type 2 diabetes?
            Type 2 diabetes occurs over time, and involves problems getting enough sugar (glucose) into the cells of the body. (The cells use the sugar for fuel/energy.)
            •	Sugar (glucose) is the preferred fuel for muscle and brain cells, but it requires insulin to transport it into cells for use.
            •	When insulin levels are low, and the sugar can't get into the cells where it is supposed to be, it leads to elevated blood sugar levels.
            •	Over time, the cells develop resistance to insulin (insulin resistance), which then requires the pancreas to make more and more insulin to move sugar into the cells; however, more sugar is still left in the blood.
            •	The pancreas eventually "wears out," and can no longer secrete enough insulin to move the sugar into the cells for energy.
            Which types of foods are recommended for a type 2 diabetes diet?
            A diabetes meal plan can follow a number of different patterns and have a variable ratio of fats, proteins, and carbohydrates.
            •	The carbohydrates consumed should be low glycemic load and come primarily from vegetables.
            •	The fat and proteins consumed should primarily come from plant sources.
            
        </pre>
        </article>
        <iframe id="video" width="560" height="315" src="https://www.youtube.com/embed/14G55D6exAg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
       </div>
</body>
</html>