<!DOCTYPE html>
<html>
<head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title> </title>
    <link rel="stylesheet" type="text/css" href="../css/1a.css">
    <link rel="stylesheet" type="text/css" href="../Demo.css">
    <script type="text/javascript" src="../demo.js"></script>
</head>
<body> 
        <div class=buttons>
                <button id=play></button> &nbsp;
                <button id=pause></button> &nbsp;
                <button id=stop></button>
        </div>
        <article>
       <div>
           <h1>WORKOUT FOR TYPE II Diabetes</h1>
       </div>     
       <div> <pre>
            When you have type 2 diabetes, physical activity is an important component of your treatment plan.  It’s also important to have a healthy meal plan and maintain your blood glucose level through medications or insulin, if necessary.
            If you stay fit and active throughout your life, you’ll be able to better control your diabetes and keep your blood glucose level in the correct range. Controlling your blood glucose level is essential to preventing long-term complications, such as nerve pain and kidney disease.
            Exercise has so many benefits, but the biggest one is that it makes it easier to control your blood glucose (blood sugar) level. People with type 2 diabetes have too much glucose in their blood, either because their body doesn’t produce enough insulin to process it, or because their body doesn’t use insulin properly (insulin resistant).
            In either case, exercise can reduce the glucose in your blood. Muscles can use glucose without insulin when you’re exercising. In other words, it doesn’t matter if you’re insulin resistant or if you don’t have enough insulin: when you exercise, your muscles get the glucose they need, and in turn, your blood glucose level goes down.
            If you’re insulin resistant, exercise actually makes your insulin more effective. That is—your insulin resistance goes down when you exercise, and your cells can use the glucose more effectively.
            Exercise can also help people with type 2 diabetes avoid long-term complications, especially heart problems. People with diabetes are susceptible to developing blocked arteries (arteriosclerosis), which can lead to a heart attack. Exercise helps keep your heart healthy and strong. Plus, exercise helps you maintain good cholesterol—and that helps you avoid arteriosclerosis.
            Additionally, there are all the traditional benefits of exercise:
            •	Lower blood pressure
            •	Better control of weight
            •	Increased level of good cholesterol (HDL)
            •	Leaner, stronger muscles
            •	Stronger bones
            •	More energy
            •	Improved mood
            •	Better sleep
            •	Stress management
             
            But Before You Begin Exercising…
            When most people are diagnosed with type 2 diabetes, they are overweight, so the idea of exercising is particularly daunting. For your health, you have to get started on a good, reasonable exercise plan, but first,  you should talk to your doctor.
             
            Your doctor will be able to check your heart health, which is particularly important if you already have blocked arteries or high blood pressure. You also need to take into consideration any other diabetes-related complications—retinopathy or neuropathy, for example. As you begin an exercise program, your doctor can refer you to an exercise physiologist or diabetes educator to help you figure out the best exercise program that allows you to get in shape for your fitness level.
             
            Also before you begin exercising,  you need to set realistic goals. If you haven’t exercised much recently, you will want to start slow and gradually increase the amount and intensity of the activity.
             
            Remember to stay hydrated by drinking water and always have a treatment for low blood glucose handy (a 15 g carb snack is a good idea). It is smart to check your blood sugar with your glucose meter before and after exercise to make sure you are in a safe range.
             
            Being diagnosed with type 2 diabetes does change your life, but making small changes to your routine can help you incorporate more physical activity into your day. You need to do what works for your body and your lifestyle. See the suggestions below for what types of exercise to do.
             
            Allow yourself some time to build up to a steady, challenging exercise routine. And be okay with going slow—it’s better for your body in the long run.
             
             
            What Kinds of Exercise to Do
            There are three main kinds of exercise—aerobic, strength training, and flexibility work. You should aim to have a good balance of all three.
             
            Aerobic Exercises
            Aerobic exercises include:
            •	Walking
            •	Jogging/Running
            •	Tennis
            •	Basketball
            •	Swimming
            •	Biking
             
            You should aim to get at least 30 minutes of aerobic exercise most days of the week. If you think that you can’t find 30 minutes, you can break up the exercise into chunks—10 minutes here and there. Build up to 30 minutes gradually.
             
            Also, stretch your creativity when it comes to fitting in exercise. Take a walk at lunch, or get the whole family out after dinner for a game of basketball. Remember that walking your dog is a form of exercise. Taking the stairs is exercise. Walking from your car and into the store is exercise—so park farther away.
             
            You need to find a way to exercise that you actually enjoy—because if it’s not fun, you won’t do it. It’ll be harder to stay motivated, even if you know all the benefits of exercise. Consider taking group classes at the gym, or find a friend to walk or run with. Having someone else exercising with you does make it more fun and motivating.
             
            Strength Training
            Once you have been able to include aerobic activity into your days, then you can start including strength training.
             
            Strength training gives you lean, efficient muscles, and it also helps you maintain strong, healthy bones. It’s really good for you when you have type 2 diabetes because muscles use the most glucose, so if you can use them more, then you’ll be better able to control your blood glucose level.
             
            Weight training is one of the most used strength training techniques, although you can also use your own body weight to build up strength—think of pull-ups and push-ups.
             
            When you’re starting a weight training program, make sure you know how to use all the equipment. Ask the staff at your gym how you should properly use the weights, or consider getting a personal trainer to learn the best exercises for you.
             
            Lifting weights for 20-30 minutes two or three times a week is sufficient to get the full benefits of strength training.
             
            Flexibility Training
            With flexibility training, you’ll improve how well your muscles and joints work. Stretching before and after exercise (especially after exercise) reduces muscle soreness and actually relaxes your muscles.
             
            And Stick with It
            Make a commitment to exercise; make it a priority. Your long-term health depends on it, so as tough as it may be to find time or to motivate yourself to exercise, keep at it. It will help you lose weight (if you need to do that), and it will make your body more efficient at using its insulin and glucose.
            
        </pre>
        </article>
        <iframe width="560" height="315" id="video" src="https://www.youtube.com/embed/EePrMCFc7Xk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</body>
</html>