<!DOCTYPE html>
<html>
<head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title> </title>
    <link rel="stylesheet" type="text/css" href="../css/1a.css">
    <link rel="stylesheet" type="text/css" href="../Demo.css">
    <script type="text/javascript" src="../demo.js"></script>
</head>
<body> 
        <div class=buttons>
                <button id=play></button> &nbsp;
                <button id=pause></button> &nbsp;
                <button id=stop></button>
        </div>
        <article>
       <div>
           <h1>DIET FOR GESTATIONAL Diabetes</h1>
       </div>     
       <div> <pre>
            Following a healthful diet is important during pregnancy, and particularly so if a woman develops gestational diabetes.
            High blood sugar levels may be harmful to the woman and the growing fetus. To help manage blood sugar levels, it is important to monitor how many, what type, and how often carbohydratesare consumed. Keeping a food diary may make this easier.
            Monitoring carbohydrates
            
            Spacing meals and snacks containing carbohydrates evenly throughout the day can help avoid spikes in blood sugar. The American Diabetes Association recommend that women with gestational diabetes should eat three small-to-moderate meals and two to four snacks per day.
            Other ways to help regulate blood sugar include:
            •	avoiding eating too many carbohydrates at one time
            •	sticking to complex carbohydrates that are high in fiber
            •	combining carbohydrates with protein or healthy fat
            •	not skipping meals
            •	eating a protein-rich and fibrous carbohydrate breakfast
            Eating low glycemic index foods
            Eating foods that have a low glycemic load is another crucial factor in a gestational diabetes diet.
            The glycemic load is calculated by multiplying the grams of carbohydrate in a serving of a particular type of food by that food's glycemic index (GI). This number gives a more accurate picture of a food's real impact on blood sugar.
            Foods with a low glycemic load are broken down more slowly than simple carbohydrates, which are typically considered high GI foods.
            A glycemic load of 10 or below is considered low and is ideal for those with gestational diabetes who are trying to manage blood sugar.
            Low glycemic load foods to eat include:
            •	100 percent wholegrain breads and cereals
            •	non-starchy vegetables
            •	some starchy vegetables, such as peas and carrots
            •	some fruit, such as apples, oranges, grapefruit, peaches, and pears
            •	beans
            •	lentils
            •	chickpeas
            All of these low GI foods release sugar into the blood slowly, helping to keep blood sugar levels stable.
            Eating more protein
            Eating protein alongside carbohydrates, or choosing carbohydrates that also have protein in them, helps to balance blood sugar levels. Women with gestational diabetes should try to eat lean, protein-rich foods, such as:
            •	fish, chicken, and turkey
            •	eggs
            •	tofu
            •	beans
            •	nuts
            •	seeds
            •	quinoa
            •	legumes
            Choosing unsaturated fats
            Unsaturated fats are also part of any healthful diet. Examples of unsaturated fats include:
            •	olive oil
            •	peanut oil
            •	avocado
            •	most nuts and seeds
            •	salmon
            •	sardines
            •	tuna
            •	chia seeds
            Foods to avoid
            Avoiding foods that may raise blood sugar levels is essential if a person is following a gestational diabetes diet.
            Avoiding sugary foods
            Blood sugar levels are raised when people eat sugary foods, particularly those that are refined and processed. Women with gestational diabetes are advised to avoid or limit sugary foods, as much as possible.
            Sugary foods to avoid include:
            •	cakes
            •	biscuits
            •	sweets
            •	puddings
            •	soda
            •	fruit juice with added sugar
            Avoiding very starchy foods
            Starchy foods are high in carbohydrates and have a bigger impact on our blood sugar, so it is important to eat them only in small portions. Some very starchy foods are best avoided or limited. These include:
            •	white potatoes
            •	white bread
            •	white rice
            •	white pasta
            Avoiding hidden sugars and carbohydrates
            Some foods are not obviously sources of sugar or carbohydrate, but they may still contain unhealthful levels of both of these food types. Examples of these include:
            •	highly processed foods
            •	some condiments, such as dressings and ketchup
            •	fast foods
            •	alcohol
            Milk and fruits contain natural sugars and can be enjoyed in moderation.
            Treatment
            Following a healthful diet and exercising regularly can both help control blood sugar levels and manage gestational diabetes. However, this is not sufficient to control the condition for every woman affected.
            Blood sugar levels depend on the individual. Some women with gestational diabetes may need medication, such as metformin or insulin to lower their blood sugar levels.
            
        </pre>
        </article>
        <iframe width="560" height="315" id="video" src="https://www.youtube.com/embed/8lO9ijf0IO0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        
    </div>
</body>
</html>