<!DOCTYPE html>
<html>
<head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title> </title>
    <link rel="stylesheet" type="text/css" href="../css/1a.css">
    <link rel="stylesheet" type="text/css" href="../Demo.css">
    <script type="text/javascript" src="../demo.js"></script>
</head>
<body> 
        <div class=buttons>
                <button id=play></button> &nbsp;
                <button id=pause></button> &nbsp;
                <button id=stop></button>
        </div>
        <article>
       <div>
           <h1>WORKOUT FOR GESTATIONAL Diabetes</h1>
       </div>     
       <div> <pre>
            Exercise can dramatically alter this picture, even for obese women who led sedentary lives before conceiving. "In the past, we used to tell obese women: Don't move, don't breathe," says Raul Artal, M.D., professor and chairman of the department of obstetrics, gynecology and women's health at Saint Louis University School of Medicine. "But now we have a lot of evidence to show that obese women should exercise during pregnancy."

            Artal's own published research shows that obese women with gestational diabetes who exercise in addition to controlling their calories gain less weight and deliver leaner babies than those who simply watch their calories. It's not just overweight women who benefit long-term from prenatal exercise. Even highly fit women who work out during pregnancy appear to be fitter and healthier two decades later than fit women who temporarily quit exercising while pregnant.
            
            Consider a 2008 study by James Clapp III, M.D., director of obstetrical research at MetroHealth Medical Center in Cleveland. Clapp, a pioneer in prenatal exercise research, checked in with 39 women 18 to 20 years after he had initially studied them. Those who'd stuck with exercise throughout pregnancy had gained just 7 1âˆ•2 pounds in the two decades since, compared with nearly 22 pounds for those who quit working out while pregnant but resumed afterward. At age 48, the continuous exercisers were still working out at 82 percent of their prepregnancy levels, compared with 52 percent for the women who took a hiatus. Additionally, the exercisers' cholesterol levels and resting heart rates were significantly lower.
            
            Why the difference? As Clapp notes in his study, "It is impossible to separate the long-term effects of exercise during pregnancy from those of exercise afterward." Clapp is conducting further research to answer this question. While researchers continue to study the long-term benefits of prenatal exercise, the immediate benefits are proven: less back pain, more energy and a better body image.
            
            "Even when pregnant women come in to our lab not feeling great, exercising makes them feel invigorated," says Danielle Symons Downs, Ph.D., an associate professor of kinesiology and obstetrics and gynecology at Pennsylvania State University. "They feel less stressed, more fit and toned and better about their shape."
            
            Aim for 30 minutes of activity: How much exercise is necessary to reap all the benefits? For women who were inactive before pregnancy, Mottola recommends starting with 15 minutes of continuous exercise three times a week, gradually increasing to 30-minute sessions four days a week. (Always check with your doctor before starting any workout program.)
            
            If you're having a rough first trimester—with extreme fatigue, nausea or vomiting—you may want to wait until the second trimester to start a workout routine. Highly fit women needn't reduce how much they exercise during pregnancy, but they should listen to their bodies and stick with what's comfortable, Clapp says.
            
            How hard should you push yourself during pregnancy? Not too hard! Experts agree that the "talk test" is a good gauge for how tough your workout should be: "If you can carry on a conversation, that's fine," Mottola explains. If you're too winded to chat, take it down a notch.
            
            Safety comes first: Obviously, pregnancy isn't the time for activities that carry a high risk of falling, such as skiing or in-line skating. But there's no shortage of safe aerobic activities during pregnancy, including walking, the elliptical trainer and swimming. If you're a runner, jogging is OK if you feel up to it, but most runners switch to walking at some point because the pounding takes a toll on their hips, knees and feet.
            
            Little research has been conducted on prenatal strength training, but experts believe it's safe and beneficial, as long as you don't overexert yourself. Pilates and yoga are also excellent ways to maintain your muscle tone during pregnancy.
            
            Though the importance of prenatal exercise is well known among researchers, even some OB-GYNs are still unaware of all the benefits, and there's a good bet the word hasn't trickled down to your mom. So if you hear comments like "Stop! You're going to boil your baby!" rest assured that you're doing what's best for both of you.
            
            -HULA HOOPING: It's part exercise, part dance and lots of fun. Hoopnotica CEO Gabriella Redding recommends the Hoopnotica Hoopdance Basics DVD using Hoopnotica Preg-O hoops ($40 from hoopnotica.com), which are lighter and wider than traditional hoops. "Aside from any move that requires the hooper to jump, every move we teach is perfectly safe during pregnancy," says Redding
            
            -SPINNING: There's no impact and no chance of falling, and you can hang with the group while exercising at your own pace. As your belly grows, eliminate out-of-the-saddle movements, which can put excess pressure on your knees, advises fitness expert LaReine Chabut, author of 2006's Lose That Baby Fat!
            
            -WII FIT: With Nintendo's Wii Fit (nintendo.com/wiifit/launch) you use a balance board to control on-screen action with your body movements. The yoga, aerobic and strengthtraining games are easily adaptable for pregnancy simply by using common sense, says Chabut, but skip the balance games. To make the workouts easier, Chabut recommends entering an age older than you actually are. Be sure to wear sturdy athletic shoes instead of going barefoot.
            
            -PRENATAL PERSONAL TRAINERS: Fitness professionals with prenatal expertise are increasingly popular, according to the American Council on Exercise (ACE). A session or two per trimester can help you stay motivatedand a certified trainer will modify your routine as your body changes. To find a qualified trainer, visit acefitness.org.
            
            -BELLY DANCING: "Belly dancing helps strengthen your pelvic floor and core muscles, which is great for labor," says Vionna Jones, owner of The Hot Mama Fitness Studio in Bethesda, Md., which offers classes to expectant moms.
            
            -FIT4BABY CLASSES: From the folks who developed Stroller Strides (strollerstrides.com), the popular mom-and-baby exercise classes, comes Fit4Baby, a total-body workout that includes strength training, cardio and flexibility exercises done either indoors or outdoors.
        </pre>
        </article>
        <iframe width="560" height="315" id="video" src="https://www.youtube.com/embed/mTZ1f5_QpWE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
         
    </div>
</body>
</html>