<!DOCTYPE html>
<html lang="en">
<head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../css/one.css">
    <title>diabetick</title>
</head>
<body>
    <div id="nav">
        <img src="../images/55c88442-0ed1-4298-85ae-6ef6d0032d8f.png" id="logoimg" alt="">
    </div>
        <div class="flex">
                <div id="result">
                </div>
                <div class="input">
                <input type="text" id="ans" placeholder="Enter your response" required/>
                </div>
                <button type="button"  id="movebtn" class="btn btn-light">Move ahead</button>   
              </div>
                  
    <script src="../javascripts/one.js"></script>
   

</body>
</html>