<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<title></title>
	<link rel="stylesheet" type="text/css" href="../css/second.css">
</head>
<body>
  <h1 style="text-align:center"></h1>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="../images/images.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Predict diabets</h5>
      <p class="card-text">Chech if you have diabetes or not</p>
      <button type="button" class="btn btn-success" onclick="window.location.href ='../main.html'"">Let's Go</button>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="../images/images.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">i am having diabetes</h5>
      <p class="card-text">this is for those users who are suffering from diabets and want to control it.</p>
      <button type="button" class="btn btn-success" onclick="window.location.href ='./3btn.html'"">Let's Go</button>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="../images/DIABETES.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">should i go for a test?</h5>
      <p class="card-text"> By clicking on this button get asure about the chances of being diabetic and know that should you go for a test?.</p>
      <button type="button" class="btn btn-success" onclick="window.location.href ='./c.html'">Let's Go</button>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="../images/8936961_orig.jpeg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title" id="h5">i don't want to be diabetic in future</h5>
      <p class="card-text">for the users who know that they are not having diabetes and also don't want to be diabetic in future.</p>
      <button type="button" class="btn btn-success" onclick="window.location.href ='./card3.html'">Let's Go</button>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="../images/interaction-people-social-networking-technology-concept-66882463.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">interact with people  </h5>
      <p class="card-text">Interact with people having same problem or have gone through it.</p>
      <button type="button" class="btn btn-success">Let's Go</button>
    </div>
  </div>
  </div>
</div>
<script src="../javascripts/1.js"></script>
</body>
</html>
